@import url("https://fonts.googleapis.com/css?family=Clicker+Script|Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,800");
/* #header {
  font-family: Dancing Script;
  text-align: center;
  font-size: 58px;
  font-weight: 400;
} */

html {
  scroll-behavior: smooth;
}
body {
  /* background: black; */
  margin: 0;
  width: 100%;
}
.banner-image {
  background-image: url("https://images.unsplash.com/photo-1519741497674-611481863552?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bfef355c0cf4898112f3c63cd8bb4bf9&auto=format&fit=crop&w=1650&q=80");
  height: 50%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

nav.menu {
  text-align: center;
  padding: 0px;
  width: 100%;
  background: url("/icons/menu_border_bottom.png") no-repeat center bottom;
  /* height: 85px;
    position: absolute;
    top: 0px;
    z-index: 9999; */
}

#main-menu {
  margin-top: 0px;
}
ul #main-menu {
  list-style: none;
  margin: 0;
  padding: 0px;
  display: flex;
}

li {
  list-style: none;
  display: inline-block;
  position: relative;
  margin: 0 10px;
}
a {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  line-height: 85px;
  display: inline-block;
  color: #ffffff;
  padding: 0 0 0 18px;
  font-weight: 400;
  text-decoration: none;
  font-weight: 300;
}
a:hover {
  color: #d7d677;
  background: url("icons/menu_bullet.png") no-repeat left;
}

a:selected {
  color: #d7d677;
  background: url("icons/menu_bullet.png") no-repeat left;
}

ul#main_menu li {
  position: relative;
  margin: 0 10px;
  display: inline-block;
}
.title-front {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: #ffffff;
  padding: 30px 0 30px 0;
  text-align: center;
}
.title-text {
  text-align: center;
  font-family: "Clicker Script", cursive;
  font-size: 100px;
  color: white;
  padding: 0px 0px 50px 0px;
}
.lang-switcher {
  position: absolute;
  top: 35px;
  right: 60px;
  display: inline-block;
  float: left;
  margin: 0;
  padding: 0;
}
.lang-switcher li {
  display: inline-block;
  border-right: 1px solid #ffffff;
  /*   float: left; */
  margin-right: 0px;
 
}
.lang-switcher li:last-child {
  border-right: none;
  margin-left: 0px;
}
.lang-switcher a {
  padding: 3px 5px;
  color: #ffffff;
  transition: all 0.5s ease;
  text-decoration: none;
  display: inline-block;
  height: 100%;
  min-width: 40px;
  text-align: center;
  line-height: unset;
}
.lover-birds {
  text-align: center;
  padding: 20px 0px;
}

span {
  color: #d7d677;
}

.title-date {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #ffffff;
  padding: 0 0 30px 0;
  text-align: center;
}

span.swirl_left {
  display: inline-block;
  background: url(icons/swirl_left.png) no-repeat left;
  padding: 0 0 0 130px;
}

span.swirl_right {
  display: inline-block;
  background: url(icons/swirl_left.png) no-repeat right;
  padding: 10px 130px 10px 0px;
}

.countdown {
  background-color: #b5af47;
}

.countdown-title {
  padding: 60px 0px 0px 0px;
  margin: 0px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: 200;
  color: white;
}

#down {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: white;
  padding-bottom: 90px;
}

h2 {
  font-size: 65px;
  font-family: "Clicker Script", cursive;
  font-weight: 300;
  text-align: center;
  color: #6e6a5f;
  margin-bottom: 0px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 30px 150px;
  font-weight: 200;
  line-height: 32px;
  color: #6e6a5f;
}

.locations-container {
  width: 100%;
  background-color: #f6f5ec;
  padding: 60px 0 0px 0;
  text-align: center;
  height: 340px;
}

.locations {
  width: 1100px;
  margin: auto;
  padding: 0px 0;
}

.location {
  width: 340px;
  float: left;
  /* margin: 0 40px 80px 0; */
}

.icon {
  text-align: center;
}

h3 {
  color: #5d594d;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 0px;
}

h4 {
  color: #b5af47;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 0px;
}

.location-p {
  font-size: 16px;
  padding: 0 10px;
  line-height: 22px;
  color: #6e6a5f;
}

.get-direction {
  border: 1px #999700 solid;
  display: inline-block;
  padding: 12px 30px;
  width: auto;
  margin: auto;
  text-align: center;
  font-size: 11px;
  font-weight: 800;
  color: #999700;
  line-height: 10px;
  margin-bottom: 70px;
  margin-top: 20px;
}

.get-in-touch {
  margin-top: 50px;
}

.getintch {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 26px;
  clear: both;
}

.p-getintch {
  padding: 0px 150px;
}
.contact_email {
  text-align: center;
}
.contact_email a {
  padding: 0px 30px;
  display: inline-block;
  margin: 20px 0 60px 0;
  font-weight: 800;
  border: 1px solid #b5af47;
  color: #b5af47;
  text-align: center;
}

.footer {
  clear: both;
  background-color: #2d2e21;
  width: 100%;
  padding: 40px 0 20px 0;
}

.full_width_centered {
  width: 1100px;
  margin: auto;
  padding: 0;
}

.save-the-date {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 30px;
  color: #b5af47;
  text-align: center;
}

.footer_socials {
  width: 100%;
  text-align: center;
  padding: 40px 0;
}

.footer_socials li {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: inline-block;
}

.footer_socials a {
  line-height: 0;
  padding: 0;
  margin: 0 10px;
}
.footer_socials a:hover {
  background: none;
}

.footer_copyright {
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: #b5af47;
}

@media screen and (min-width: 768px) {
  .banner-image {
    width: 100%;
  }
}
