<template>
  <div id="app">
    <div class="page-wrapper">
      <header id="header"></header>
      <div class="banner-image">
        <nav class="menu">
          <main-menu></main-menu>
          <ul class="lang-switcher">
            <li>
              <a id="en" @click="switchEN" href="#" class="is-active">En</a>
            </li>
            <li>
              <a id="tr" @click="switchTR" href="#">Tr</a>
            </li>
          </ul>
        </nav>
        <div class="title-front">{{ $t("message.slogan") }}</div>
        <div class="lover-birds">
          <img src="src/assets/icons/birds_icon.png">
        </div>
        <div class="title-text">
          GULISTAN
          <span>&</span> MUHARREM
        </div>
        <div class="title-date">
          <span>
                      <span>04.05.2019</span>
          </span>
        </div>
      </div>
      <div class="countdown" id="count-down">
        <h2 class="countdown-title">{{$t("message.countDown")}}</h2>
        <counter></counter>
      </div>
      <div class="about" id="about">
        <h2>{{$t("message.name")}}</h2>
        <p>{{$t("message.text")}}</p>
      </div>
      <div class="locations-container" id="location">
        <div class="locations">
          <div v-for="place in places" :key="place.name">
            <location :place="place"></location>
          </div>
        </div>
      </div>
      <div class="get-in-touch" id="get-in-touch">
        <h2 class="getintch">{{$t("contact.title")}}</h2>
        <p class="p-getintch">{{$t("contact.text")}}</p>
        <div class="contact_email">
          <a href="mailto:gmjevleniyor@gmail.com?Subject=Hello%20again">gmjevleniyor@gmail.com</a>
        </div>
      </div>
      <div class="footer">
        <div class="full_width_centered">
          <div class="title-date">
            <span>
                        <img src="src/assets/icons/birds_icon.png">
                      </span>
          </div>
        </div>
        <div class="save-the-date">{{$t("message.footer")}}</div>
        <div class="footer_socials">
          <ul>
            <li>
              <a href="#">
                <img src="src/assets/icons/twitter.png" alt="twitter-gmj" title>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="src/assets/icons/facebook.png" alt="fb-gmj" title>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="src/assets/icons/pinterest.png" alt="pinterest-gmj" title>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="src/assets/icons/instagram.png" alt="insta-gmj" title>
              </a>
            </li>
            <li>
              <a href="#">
                <img src="src/assets/icons/google.png" alt="google-gmj" title>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer_copyright">{{$t("message.madeby")}}</div>
      </div>
    </div>
  </div>
</template>

<script>
  import Counter from './Counter.vue'
  import Location from "./Location.vue"
  import Menu from './Menu.vue'
  import VueI18n from 'vue-i18n'

  export default {
    components: {
     "counter": Counter,
      "location": Location,
      "main-menu": Menu
    },
    methods: {
      switchEN: function() {
        console.log(this.$i18n.locale);
        this.$i18n.locale = "en";
      },
      switchTR: function() {
        this.$i18n.locale = "tr";
      }
    },
    data() {
      return {
        places: [{
            location: "Buldan",
            lat: "38.044215",
            lon: "28.8340475"
          },
          {
            location: "Denizli",
            lat: "37.8175215",
            lon: "29.1210704"
          },
          {
            location: "Isparta",
            lat: "37.7763314",
            lon: "30.5341646"
          }
        ]
      }
    },
  };
</script>

<style>
  
</style>
