<template>
  <p id="down">
    {{ days }} {{$t("date.days")}} {{hours}} {{$t("date.hours")}} {{minutes}} {{$t("date.minutes")}} {{seconds}} {{$t("date.seconds")}}
  </p>
</template>

<script>
  export default {
    name: "app",
    data() {
      return {
        days: "",
        hours: "",
        minutes: "",
        seconds: ""
      };
    },
    created: function() {
      setInterval(
        function() {
          let countDownDate = new Date("May 5, 2019 15:37:25").getTime();
          let now = new Date().getTime();
          let distance = countDownDate - now;
  
          this.days = Math.floor(distance / (1000 * 60 * 60 * 24));
          this.hours = Math.floor(
            (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
          );
          this.minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
          this.seconds = Math.floor((distance % (1000 * 60)) / 1000);
        }.bind(this),
        1000
      );
    }
  };
</script>

<style lang="scss">
  
</style>
