<template>
  <div class="location">
    <div class="icon">
      <img src="src/assets/icons/icon_location.png" alt title>
    </div>
    <h3>{{ $t('location.' + this.place.location + '.name' ) }}</h3>
    <h4>{{ this.place.location }}</h4>
    <p class="location-p">{{ $t('location.' + this.place.location + '.text' ) }}</p>
    <a :href="'https://maps.google.com?saddr=Current+Location&daddr=' + this.place.lat + ',' +this.place.lon" class="get-direction" target="_blank">{{ $t('location.button') }}</a>
  </div>
</template>

<script>
  export default {
    props: ["place"],
    created() {
      console.log(this.place.location);
    }
  };
</script>
