<template>
  <ul id="main-menu">
    <li>
      <a href="#header">{{ $t("menu.home") }}</a>
    </li>
    <li>
      <a href="#count-down">{{ $t("menu.wedding") }}</a>
    </li>
    <li>
      <a href="#location">{{ $t("menu.locations") }}</a>
    </li>
    <li>
      <a href="#about">{{ $t("menu.about") }}</a>
    </li>
    <li>
      <a href="#get-in-touch">{{ $t("menu.contact") }}</a>
    </li>
  </ul>
</template>

<script>
export default {};
</script>

<style>
</style>
